# Also ignore archive artifacts (built via "mix archive.build").
*.ez

*.iml

*.key

/.idea/
/node_modules/
/assets/node_modules/
/assets/tsconfig.tsbuildinfo

# Ignore assets that are produced by build tools.
/priv/static/assets/
/priv/static/icons/
/priv/static/images/
/priv/static/*.js
/priv/static/*.css
/priv/react/**/*.*
/priv/react/*.js

.DS_Store
**/.DS_Store

# Temporary files, for example, from tests.
/tmp/


.env
*.local.env

.direnv/
.cache/
.nix-shell/
.nix-shell/**/*
.lexical/

/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
/priv/react/server.js
.elixir_ls/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.nix-shell/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
