@use './eve-common';

.default-theme {
  --pastel-blue: #5a7d9a;
  --pastel-pink: #d291bc;
  --pastel-green: #88b04b;
  --pastel-yellow: #ffdd59;

  --dark-bg: #2d2d2d;
  --text-color: #ffffff;
  --tooltip-bg: #202020;

  --window-corner: #72716f;
}
